<div class="card">
  <h2 class="country-name">{{name}}</h2>
  <div class="countrie-attributes">
    <p class="capital"><b>Capital:</b> {{capital}}</p>
    <p class="population"><b>Population:</b> {{population}}</p>
    <ul class="languages"><b>Languages:</b>
      {{#each languages}}
      <li class="language">{{name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="flag">
    <img src="{{flag}}" alt="{{name}}">
  </div>
</div>